$fuentePrincipal: 'Montserrat',
sans-serif;

/* Colores */

$verde: #07d429a4;
$morado: #8e1cda6e;
$amarillo: #e6e324ea;
$rosa: #e451e9ea;
$negro: black;
$blanco: #ffffff;

/* Media queries */

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

/* Fuentes */

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

/* Separaciones */

$separacion: 5rem;